{% extends 'base.html' %}
{% block title %} All Data List {% endblock %}
{% block content %}

    <div class="container">
        {% for data in data_list %}
            <div class="card w-100 mt-3">
                <div class="card-body">
                    <h5 class="card-title">{{ data.name }}</h5>
                    <p class="card-text">Item Count : {{ data.get_comment_count }}</p>
                    <div class="d-flex" role="group" aria-label="Actions">
                        <a type="button" class="btn btn-danger me-2" href="/"><i class="fa-solid fa-trash"></i> Delete </a>
                        <a type="button" class="btn btn-success me-2" href="/"><i class="fa-solid fa-download"></i> Download </a>
                        <a type="button" class="btn btn-primary me-2" href='{% url "Data:data_detail" data.slug %}'><i class="fa-solid fa-hashtag"></i> Go Tagging </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}