{% extends 'base.html' %}
{% block title %} All Data List {% endblock %}
{% block content %}

<div class="container mt-3">
    <h2 class="heading-text">Veri Tabloları</h2>
<hr>
    <div class="overflow-auto" style="max-height: 60vh">
        {% for data in data_list %}
            <div class="card w-100 mt-3">
                <div class="card-body">
                    <h5 class="card-title">{{ data.name }}</h5>
                    <p class="card-text">Item Count : {{ data.get_comment_count }}</p>
                    <div class="d-flex" role="group" aria-label="Actions">
                        <a type="button" class="btn btn-danger me-2" href="/"><i class="fa-solid fa-trash"></i> Delete </a>
                        <a type="button" class="btn btn-success me-2" href="/"><i class="fa-solid fa-download"></i> Download </a>
                        <a type="button" class="btn btn-primary me-2" href='{% url "Data:data_detail" data.slug %}'><i class="fa-solid fa-hashtag"></i> Go Tagging </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<hr class="container">
<div class="container">
<div class="d-flex">
    <h2 class="heading-text">Tag</h2>
    <div class="w-100"></div>
    <a class="btn btn-success rounded-circle text-center justify-content-center align-items-center" style="width: 40px;height: 40px" href="{% url 'Data:edit_tag' %}"><i class="fa-solid fa-plus m-0 m-auto fw-bold"></i></a>
</div>
    <hr>
    {% include '_tag_table.html' %}
</div>
<div class="container">
    <h2>
        <a class="text-decoration-none text-secondary " href="https://www.linkedin.com/in/faruk-%C5%9Feker-python/">
            Data Service | {{ request.user }}
        </a>
    </h2>
</div>
{% endblock %}